<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ce.krf.biz.mapper.BookmarkMapper">
<resultMap id="bookmargResult" type="java.util.HashMap">
    <result property="USER_ID" column="USER_ID" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result property="SN" column="SN" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result property="RM" column="RM" javaType="java.lang.String" jdbcType="CLOB"/>
</resultMap>

    <select id="getBookmark" resultMap="bookmargResult" parameterType="com.ce.krf.biz.model.BookmarkVO">
    	SELECT /* KRF_BIZ.BookmarkMapper.getBookmark  */
    		   SN,
    		   USER_ID,
    		   JSON_DATA AS RM
    	  FROM TGS_BKMK_INFO
    	 WHERE USER_ID = #{userId}
    </select>
    
    <insert id="putBookmark" parameterType="hashmap">
        INSERT INTO TGS_BKMK_INFO (SN,USER_ID,TM_XAXS,TM_YAXS,SC,BKMK_NM,SUMRY_DC,RM,REGISTER_ID,REGIST_DT,CHANGER_ID,CHANGE_DT,JSON_DATA) VALUES (TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS'),#{userId},1,1,1,1,1,1,1,SYSDATE,1,SYSDATE,#{param:CLOB})
    </insert>
    
     <insert id="deleteBookmark" parameterType="String">
        DELETE 
          FROM TGS_BKMK_INFO 
         WHERE SN = #{sn} AND USER_ID = #{userId}
    </insert>
</mapper>