<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ce.krf.biz.mapper.PollLoadMapper">

	<select id="PollLoadSelect" parameterType="com.ce.krf.biz.model.PollutionVO" resultType="hashmap">
		WITH POLLULANT_LOAD_FOR_CAT_TBL AS (SELECT WS_CD,
		               SW_CODE,
		               ADM_CD,
		               WS_NM,
		               AM_NM,
		               SW_NAME,
		               CAT_DID,
		               DO_NM || ' ' || CTY_NM || ' ' || DONG_NM || ' ' || RI_NM AS ADDR,
		               PERCENTAGE,
		               GNR_FLOW_SUM AS GNR_FLOW_S,
		               GNR_BOD_SUM AS GNR_BOD_S,
		               GNR_TN_SUM AS GNR_TN_S,
		               GNR_TP_SUM AS GNR_TP_S,
		               OUT_BOD_SUM AS OUT_BOD_S, 
		               OUT_TN_SUM AS OUT_TN_S,
		               OUT_TP_SUM AS OUT_TP_S
		        FROM   (SELECT 
		                       WS_NM,
		                       WS_CD,
		                       AM_NM,
		                       AM_CD,
		                       SW_NAME,
		                       SW_CODE,
		                       DO_NM,
		                       CTY_NM,
		                       DONG_NM,
		                       RI_NM,
		                       ADM_CD,
		                       CAT_DID,
		                       '' AS PERCENTAGE,
		                       GNR_FLOW_SUM,
		                       GNR_BOD_SUM,
		                       GNR_TN_SUM,
		                       GNR_TP_SUM,
		                       OUT_BOD_SUM,
		                       OUT_TN_SUM,
		                       OUT_TP_SUM
		                FROM   POLLULANT_LOAD_FOR_CAT 
		                WHERE YYYY = #{year} )
		        WHERE  CAT_DID IN  <foreach collection="catDids" item="item" separator="," open="(" close=")"> #{item}</foreach>
		        ORDER BY WS_CD, SW_CODE, CAT_DID, ADM_CD)
		SELECT WS_NM,
		       AM_NM,
		       SW_NAME,
		       CAT_DID,
		       GNR_FLOW_S,
		       GNR_BOD_S,
		       GNR_TN_S,
		       GNR_TP_S,
		       OUT_BOD_S,
		       OUT_TN_S,
		       OUT_TP_S
		FROM   (
		SELECT 
		               WS_CD,
		               SW_CODE,
		               WS_NM,
		               AM_NM,
		               SW_NAME,
		               CAT_DID,
		               SUM(GNR_FLOW_S) AS GNR_FLOW_S,
		               SUM(GNR_BOD_S) AS GNR_BOD_S,
		               SUM(GNR_TN_S) AS GNR_TN_S,
		               SUM(GNR_TP_S) AS GNR_TP_S,
		               SUM(OUT_BOD_S) AS OUT_BOD_S,
		               SUM(OUT_TN_S) AS OUT_TN_S,
		               SUM(OUT_TP_S) AS OUT_TP_S
		        FROM   POLLULANT_LOAD_FOR_CAT_TBL
		        GROUP BY WS_CD, SW_CODE, WS_NM, AM_NM, SW_NAME, CAT_DID)
		ORDER BY WS_CD, SW_CODE
	</select>
    
</mapper>